// colors

$light-color: #ffffff;
//$medium-color: #0effff;
//$dark-color: #000000;
$dark-color: #5a5553;

$pink: #ff00d4;
$purple: #8c00ff;
$blue: #00b7ff;
$peach: #ff7300;
$yellow: #fffc68;
$green: #00db63;

$highlight: #eeff7e91;

// layout standards
$m-standard: 20px;

$p-standard: 40px;
$p-minimum: 20px;
