// colors

$light-color: #fff;
//$medium-color: #0effff;
$dark-color: #000000;

$pink: #ff00dd;
$purple: #8c00ff;
$blue: #00b7ff;
$peach: #ff7300;
$yellow: #fffc68;
$green: #00db63;

$highlight: $yellow;

// layout standards
$m-standard: 20px;

$p-standard: 40px;
$p-minimum: 20px;
