// colors

$light-color: #fff;
$medium-color: #0effff;
$dark-color: #0C0F0A;

$purple: #BE81FF;
$blue: #73FDFF;
$peach: #FFAD4F;
$yellow: #FFFC5C;
$green: #B5FF6A;

// layout standards
$m-standard: 20px;

$p-standard: 40px;
$p-minimum: 20px;
